.products-preview-container {
    display:flex;
    flex-direction: column;
    margin-top: 27px;
    /* background-color: rgb(125, 113, 113); */
    align-items: center;
}

.carrousel-products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

/* Carousel.css */
.carouselA {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  .carouselA__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
    border: none;
    padding: .1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .carouselA__btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .carouselA__btn--prev {
    left: 24px;
  }
  .carouselA__btn--next {
    right: 24px;
  }
  .carouselA__img {
    border-radius: 15px;
    width: 100%;
    max-width: 500px;
    height: 500px;
    width: 500px;
    object-fit: contain;
    margin-inline: .4rem;
    margin: .8rem;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  .carouselA__img:hover {
    transform: scale(1.02);
  }
  
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 25px;
  padding: 1rem;
  margin: 1.3rem;
}

.dark-prod-theme {
  /* "#25242B" */
  background-color: #323136c5;
}

.white-prod-theme {
  box-shadow: 0px 3px 8px  rgba(0, 0, 0, 0.321);
  -webkit-box-shadow: 0px 3px 8px  rgba(0, 0, 0, 0.321);
  -moz-box-shadow: 0px 3px 8px  rgba(0, 0, 0, 0.321);
}

.text-preview-product {
  overflow: hidden;
  text-align: center;
}

.obtain-preview-button{
  padding: .25rem;
  margin-top: 4%;
  padding-inline: 1rem;
  border-radius: 15px;
  font-weight: 600;
  font-size: .95rem;
  text-decoration: none;
  transition: padding-inline 100ms ease 100ms;
  cursor: pointer;
}

.obtain-preview-button:hover {
  padding-inline: 1.1rem;
}


.category_option {
  border-radius: 10px;
  padding: .2rem;
  padding-inline: 1rem;
  box-shadow: 
  0px 3px 7px rgba(0, 0, 0, 0.39);
  filter: opacity(0.7);
  cursor: pointer;
  transition: all 200ms ease 100ms;
}

.category_option:hover {
  padding-inline: 1.15rem;
}

.selected-cat {
  filter: opacity(1);
  padding-inline: 1.19rem;
}


/* Table 2 scrollbar */

.table-wrapper {
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 95%;
}

.table-wrapper table {
  margin-bottom: .1rem; /*dar margin al scroll*/
  border-collapse: collapse;
  margin: auto;
  width: auto; 
  text-align: center;
}

.table-wrapper td {
  padding: 7px;
  white-space: nowrap;
}

.table-wrapper td {
  padding: 7px;
}


.table-wrapper::-webkit-scrollbar {
  height: 2px;
}

.table-wrapper::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  }

 /* Prices Preview Product */ 

 .price-product {
  margin-top: -4px;
  font-size: 1.05rem;
  font-weight: 550;
 }
 
 .price-alone {
  font-size: 1.05rem;
  font-weight: 550;
  padding-top: 1rem;
 }

@media (max-width: 550px) {
  .carouselA__img {
    width: 400px;
    height: 400px;
  }
}


@media (max-width: 500px) {
  .carouselA__img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 355px) {
  .carouselA__img {
    width: 250px;
    height: 250px;
  }
}


@media (max-width: 300px) {
  .carouselA__img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 260px) {
  .carouselA__img {
    width: 160px;
    height: 160px;
  }
}