@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');
:root {
    /* --background-gradient: linear-gradient(105deg, #1B034E 0%, #733EE8 100%); */
    --background-gradient: linear-gradient(105deg, #1B034E 0%, #662483 100%);
    --font-family-title: 'Mulish', sans-serif;
    --font-family-general: 'Poppins', sans-serif;
}
